*~
ac-comphist.dat
auto-save-list
.cask
.DS_Store
ede-projects.el
*.elc
el-get
elpa
emms/
eshell
ido.last
nohup.out
places
.smex-items
savefile/
prelude-modules.el
projectile-bookmarks.eld
recentf
savefile/
savehist
saveplace
semanticdb
session*
.smex-items
tramp
url
personal/secrets